<div class="header-2 border">
    <nav class="bg-white py-2 md:py-4">
      <div class="container px-4 mx-auto md:flex md:items-center">
        <div class="flex justify-between items-center">
          <a href="#" class="font-bold text-xl text-indigo-600"><img src="https://www.fylehq.com/assets/images/svg-images/fylelogo.svg" width="100px" /></a>
          <button class="border border-solid border-gray-600 px-3 py-1 rounded text-gray-600 opacity-50 hover:opacity-75 md:hidden" id="navbar-toggle" (click)="toggleNavbar()">
            <i class="bi bi-justify"></i>
          </button>
        </div>
  
        <div class="hidden md:flex flex-col md:flex-row md:ml-auto mt-3 md:mt-0" id="navbar-collapse">
          <a href="/" class="p-2 lg:px-4 md:mx-2 text-white rounded-3xl bg-indigo-600">Home</a>
          <a href="/workout" class="p-2 lg:px-4 md:mx-2 text-gray-600 rounded hover:bg-gray-200 hover:text-gray-700 transition-colors duration-300">Workout</a>
          <a href="/reports" class="p-2 lg:px-4 md:mx-2 text-gray-600 rounded hover:bg-gray-200 hover:text-gray-700 transition-colors duration-300">Reports</a>
        </div>
      </div>
    </nav>
</div>